{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- The main content area --}}
<main id="content" role="main">
	<div class="loop">
		<div class="swiper-container">
			<div class="next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
    		<div class="prev"><a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></div>
		    <div class="swiper-wrapper">
				<div class="swiper-slide">
					{{#foreach posts}}
						{{> "loop"}}
				    {{/foreach}}
			    </div>
			</div>
		</div>
	</div>
</main>