{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- The main content area --}}
<main id="content" role="main">
	<div class="loop">
		{{#foreach posts}}
			{{> "loop"}}
	    {{/foreach}}
	</div>
	{{pagination}}
</main>