{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

    <main id="content" role="main">
        <article class="{{post_class}}">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-cover post-meta {{#if feature_image}}has-image{{/if}}" {{#if feature_image}} style="background-image: url({{img_url feature_image}});"{{/if}}>
                            <h1 class="post-title">{{title}}</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <section class="post-content">

                            {{content}}

                        </section>

                    </div>
                </div>
            </div>
        </article>
    </main>

{{/post}}
