/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*

    0.  Normalize
    1.  General
    2.  Header
    3.  Inner Content
    4.  Pagination
    5.  Author
    6.  Tags
    7.  Sidebar
    8.  Share Selected Text
    9.  Subscribe
    10.  Footer
    11.  Responsive

*/

/* ==========================================================================
   0. Normalize
   ========================================================================== */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body { margin: 0; }
article, aside, details,
figcaption, figure,
footer, header,
main, menu, nav,
section, summary { display:block; }
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
a { background-color: transparent;}
a:active, a:hover { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
h1 { font-size: 2em; margin: 0.67em 0; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 1em 40px; }
hr { box-sizing: content-box; height: 0; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"],
input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"],
input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend { border: 0; padding: 0; }
textarea { overflow: auto; }
optgroup { font-weight: bold; }
table{ border-collapse: collapse; border-spacing: 0; }
td, th{ padding: 0; }

/* ==========================================================================
   1. General
   ========================================================================== */

::selection {
    background: rgba(0, 0, 0, 0.2);
}
::-moz-selection {
    background: rgba(0, 0, 0, 0.2);
}

body{
    font-family: "ff-basic-gothic-pro", "Roboto", sans-serif;
    background: #EBE9E4;
    color: #333333;
    font-weight: normal;
}

a{
    color: #E83030;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover{
    color: #333333;
    text-decoration: none;
}

h1{
    font-size: 38px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 22px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6{
    font-family: "roboto-mono", "Roboto Mono", sans-serif;
    color: #E83030;
    margin: 30px 0;
    font-weight: 300;
    margin-top: 90px;
}

p{
    font-size: 22px;
    line-height: 29px;
    font-weight: 200;
    margin-bottom: 30px;
}

ul, ol{
    padding-left: 25px;
}

li{
    font-size: 22px;
    line-height: 29px;
    font-weight: 200;
}

.article-container{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 41px 0 rgba(200,195,183,0.15);
    padding-bottom: 150px;
}

.article-container .post-meta{
    padding: 200px 0 150px;
}

.article-container .post-title{
    font-size: 70px;
    font-weight: 300;
    line-height: 90px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto 50px;
    color: #333333;
}

.article-container .post-title a{
    color: #333333;
}

.article-container .post-date{
    font-family: "roboto-mono", "Roboto Mono", sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
    line-height: 27px;
    background: #5FCCC4;
    padding: 2px 15px;
    border-radius: 50px;
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.article-container .author-name a{
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 3px;
    color: #B9B2A2;
    text-transform: uppercase;
    font-family: "roboto-mono", "Roboto Mono", sans-serif;
}

.article-container img {
    display: block;
    max-width: calc(100% + 200px);
    height: auto;
    margin: 75px 0;
    position: relative;
    left: 50%;
    width: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.main-container{
    min-height: 100vh;
    overflow: hidden;
}

.loop .swiper-container {
    width: 1200px;
    height: 100%;
    overflow: visible;
}
